.mainScreenContainer {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.mainLayout {
  display: flex;
  color: var(--color-light-grey);
  max-width: 88rem;
  width: 100%;
  z-index: 2;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
  z-index: 1;
}

.starImage {
  width: 130px;
  height: 130px;
  margin-bottom: 50px;
}

.mainTitle {
  font-family: "Ubuntu";
  font-weight: 600;
  font-size: 64px;
  line-height: 73.54px;
  margin-bottom: 20px;
}

.infoText {
  font-family: "Source Sans 3";
  font-size: 1.25rem;
  line-height: 1.8rem;
  margin-bottom: 23px;
  max-width: 39.2rem;
  font-weight: 300;
  color: rgba(240, 253, 255, 1);
}

.buttonsRow {
  display: flex;
  gap: 3rem;
  margin-top: 35px;
}

.rightColumn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  flex: 1;
  min-height: 100vh;
}

.manDecor {
  position: absolute;
  top: auto;
  right: -14rem;
  width: 55vw;

  height: 99vh;
  background: url("http://localhost:3000/images/man.png") no-repeat bottom right;
  background-size: cover;
  z-index: 0;
}

.buttonTextDecor {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  margin-left: 9px;
}

@media (max-width: 1600px) {
  .mainLayout {
    max-width: 73rem;
  }

  .starImage {
    width: 100px;
    height: 100px;
  }

  .mainTitle {
    font-size: 52px;
    max-width: 26rem;
  }

  .infoText {
    font-size: 16px;
    max-width: 37rem;
  }

  .manDecor {
    width: 61vw;
    height: 97vh;
  }

  .buttonsRow {
    gap: 46px;
    margin-top: 26px;
  }
}

@media (max-width: 1600px) and (max-height: 982px) {
  .manDecor {
    height: 95vh;
    right: -9rem;
  }

  .starImage {
    width: 92px;
    height: 92px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  .manDecor {
    width: 52vw;
    right: -4rem;
  }
}

@media (max-width: 1300px) {
  .manDecor {
    width: 66vw;
    right: -7rem;
  }
}

@media (max-width: 1263px) {
  .mainLayout {
    max-width: 65rem;
  }

  .manDecor {
    width: 74vw;
    right: -13rem;
  }
}

@media (min-height: 900px) {
  .starImage {
  }
}

@media (max-width: 1080px) {
  .mainLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
  }

  .rightColumn {
    min-height: 50vh;
  }

  .leftColumn {
    max-width: 1080px;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 7rem;
  }

  .manDecor {
    right: -16rem;

    width: 51vh;
    height: 51vh;
  }

  .mainLayout {
    max-width: 74rem;
  }

  .starImage {
    width: 92px;
    height: 92px;
    margin-bottom: 34px;
  }

  .mainTitle {
    max-width: 41rem;
  }

  .infoText {
    font-size: 15px;
    max-width: 35.2rem;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  .manDecor {
    right: -12rem;
  }
}

@media (max-width: 695px) {
  .mainTitle {
    font-size: 45px;
  }

  .infoText {
    text-align: center;
    max-width: 29.2rem;
  }

  .manDecor {
    right: -16rem;
  }
}

@media (max-width: 576px) {
  .mainLayout {
    position: relative;
    align-items: center;
    justify-content: normal;
  }

  .mobileCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftColumn {
    margin: 0;
    display: flex;
    align-items: center;
    margin-top: 80px;
  }

  .starImage {
    position: relative;
    width: 51px;
    height: 52px;
  }

  .infoText {
    font-weight: 200;
    max-width: 283px;
    margin: 0;
    margin-top: 118px;
  }

  .infoTextStep2 {
    max-width: 195px;
    margin-top: 110px;
  }

  .buttonsRow {
    flex-direction: column;
    gap: 21px;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
    margin-top: 69px;
  }

  .rightColumn {
    min-height: auto;
  }

  .manDecor {
    width: 402px;
    height: 430px;
    right: -10.7rem;
  }

  .buttonsRow {
    margin-bottom: 3rem;
  }
}

.mainTitleMobile {
  font-family: "Ubuntu";
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  color: rgba(240, 253, 255, 1);
  text-align: center;
  max-width: 17rem;
  margin-top: 27px;
}

.titleMobileStep2 {
  margin-top: 74px;
}

.mobileStartContainer {
  margin-top: 88px;
}

.infoStepContainer {
  position: relative;
  padding: 0 1rem;
}

.verticalGradient {
  position: absolute;
  top: 34%;
  left: 47%;
  transform: translateX(-50%);
  width: 24px;
  height: 62px;
  background: radial-gradient(
    55.87% 47.87% at 47.7% 47.05%,
    rgba(111, 145, 113, 0.21) 0%,
    rgba(69, 84, 116, 0) 108%
  );
  transform: rotate(0.5turn);
}

.radialGradient {
  position: absolute;
  top: 544px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  background: radial-gradient(
    49.87% 51.87% at 48.7% 62.05%,
    rgba(111, 145, 113, 0.21) 14%,
    rgba(-1, 84, 116, 0) 75%
  );
  pointer-events: none;
  overflow: visible;
}

@media (max-width: 360px) and (max-height: 640px) {
  .manDecor {
    width: 51vh;
    height: 324px;
    right: -9.7rem;
  }

  .verticalGradient {
    top: 36%;
  }

  .buttonsRow {
    margin-bottom: 3rem;
  }
}
