.button {
  width: 208px;
  height: 58px;
  font-family: "Source Sans 3", sans-serif;
  cursor: pointer;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #f0fdff;
}

.primary {
  background: #ff8300;
  backdrop-filter: blur(7.5px);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.18px;
  color: #023047;
}

.primary:hover {
  background: rgba(254, 179, 6, 1);
}

.primary-results {
  width: 246px;
  height: 58px;
  background: #ff8300;
  font-family: "Source Sans 3";
  font-size: 26px;
  font-weight: 400;
  color: #023047;
}

.primary-results:hover {
  background: rgba(254, 179, 6, 1);
}

.quiz-desktop {
  background: #ff8300;
  backdrop-filter: blur(7.5px);
  font-size: 30px;
  font-weight: 700;
  color: #023047;
  width: 248px;
  height: 68px;
}

.quiz-desktop:hover {
  background: rgba(254, 179, 6, 1);
}

.secondary {
  width: 251px;
  position: relative;
  background: transparent;
  font-size: 24px;
  font-weight: 400;
  line-height: 34.18px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    112.74deg,
    #cdfe5c 26.75%,
    rgba(2, 48, 71, 0) 115.6%
  );
  z-index: -1;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  box-sizing: border-box;
}

.secondary:hover {
  background: rgba(254, 179, 6, 1);
  color: rgba(2, 48, 71, 1);
}

.submit-desktop {
  width: 155px;
  height: 38px;
  background: linear-gradient(
    145.15deg,
    rgba(240, 253, 255, 0.3) 12.15%,
    rgba(240, 253, 255, 0.06) 89.04%
  );

  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
}

.submit-desktop:hover {
  background: linear-gradient(
    145.15deg,
    rgba(240, 253, 255, 0.7) 12.15%,
    rgba(240, 253, 255, 0.14) 89.04%
  );
}

.mobile-primary {
  width: 198px;
  height: 48px;
  background: #ff8300;
  color: rgba(2, 48, 71, 1);
  font-weight: 700;
  font-size: 20px;
}

.outline-orange {
  width: 276px;
  height: 42px;
  background: transparent;
  border: 1px solid var(--color-orange);
  font-size: 16px;
  font-weight: 600;
}

.mobile-secondary {
  position: relative;
  background: transparent;
  backdrop-filter: blur(7.5px);
  font-size: 16px;
  font-weight: 500;
  line-height: 34.18px;
  border: none;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  width: 276px;
  height: 42px;
}

.mobile-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    112.74deg,
    #cdfe5c 26.75%,
    rgba(2, 48, 71, 0) 115.6%
  );
  z-index: -1;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  box-sizing: border-box;
}

.quiz-next {
  width: 266px;
  height: 68px;
  background: rgba(240, 253, 255, 1);
  font-size: 30px;
  font-weight: 700;
  color: #023047;
  transition: background-color 0.3s ease;
  border: none;
  z-index: 1;
}

.quiz-next:hover {
  background: rgba(254, 179, 6, 1);
}

.quiz-mobile {
  font-family: Source Sans 3;
  font-weight: 500;
  font-size: 18px;
  color: rgba(2, 48, 71, 1);
  width: 149px;
  height: 42px;
  background-color: rgba(255, 131, 0, 1);
}

.quiz-mobile-next {
  width: 327px;
  height: 42px;
  background: transparent;
  font-family: "Source Sans 3";
  font-size: 16px;
  font-weight: 500;
  color: rgba(240, 253, 255, 1);
  position: relative;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.quiz-mobile-next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  background: linear-gradient(
    150.74deg,
    #f0fdff 26.75%,
    rgba(2, 48, 71, 0) 106.6%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.quiz-mobile-next:hover {
  background: rgba(254, 179, 6, 0.2);
}

.results-primary-mobile {
  width: 243px;
  height: 42px;
  background: rgba(255, 131, 0, 1);
  color: rgba(2, 48, 71, 1);
  font-family: "Source Sans 3";
  font-size: 16px;
  font-weight: 500;
}

.results-secondary-mobile {
  width: 243px;
  height: 42px;
  position: relative;
  background: transparent;
  font-family: "Source Sans 3";
  font-size: 16px;
  font-weight: 500;
  color: rgba(240, 253, 255, 1);
}

.results-secondary-mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    112.74deg,
    #cdfe5c 26.75%,
    rgba(2, 48, 71, 0) 115.6%
  );
  z-index: -1;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  box-sizing: border-box;
}

.submit-mobile {
  width: 243px;
  height: 42px;
  background: linear-gradient(
    145.15deg,
    rgba(240, 253, 255, 0.3) 12.15%,
    rgba(240, 253, 255, 0.06) 89.04%
  );

  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
}

.highscore-mobile-primary {
  width: 198px;
  height: 42px;

  color: rgba(2, 48, 71, 1);

  font-size: 16px;
  font-weight: 700;
  background: rgba(255, 131, 0, 1);
}

.highscore-mobile-secondary {
  width: 198px;
  height: 42px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(240, 253, 255, 1);
  background-color: transparent;
  position: relative;
}

.highscore-mobile-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  background: linear-gradient(96.01deg, #cdfe5c 15.37%, #1e7384 85.79%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
