.mobileQuizContainer {
  position: relative;
  background: var(--color-dark-teal);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}

.mobileMediaFrame {
  width: 327px;
  border: 1px solid var(--color-light-grey);
  border-radius: 20px;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.05);
}

.mobileBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--color-light-grey);
}

.timerIcon {
  width: 1.2rem;
  height: 1.2rem;
}

.mobileQuestionCounter {
  font-size: 1rem;
  color: var(--color-light-grey);
}

.media,
.image {
  height: 35.5rem;
  object-fit: cover;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.answerButtonsMobile {
  display: flex;
  gap: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mobileBlurBlock {
  width: 327px;
  height: 82px;
  background: linear-gradient(
    142.99deg,
    rgba(163, 221, 233, 0.2) 14.13%,
    rgba(2, 48, 71, 0.2) 105.19%
  );
  backdrop-filter: blur(7.5px);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  margin-bottom: 2rem;
  z-index: 3;
}

.mobileBlurQuestionCounter {
  font-size: 1.2rem;
  color: var(--color-light-grey);
}

.mobileProgressDots {
  display: flex;
  gap: 0.3rem;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}

.dotCorrect {
  background: rgba(88, 119, 17, 1);
}

.dotIncorrect {
  background: rgba(255, 30, 0, 0.5);
}

.dotCurrent {
  background: rgba(255, 131, 0, 1);
}

.dotPast {
  background: rgba(255, 255, 255, 0.5);
}

.dotFuture {
  background: rgba(255, 255, 255, 0.3);
}
