:root {
  --color-dark-teal: #023047;
  --color-orange: #ff8300;
  --color-amber: #feb306;
  --color-light-grey: #e1e1e0;
  --color-teal: #0e5f76;

  --font-primary: "Ubuntu", sans-serif;
  --font-secondary: "Source Sans 3", sans-serif;
}

body {
  font-family: var(--font-primary);
  font-weight: 500;
}
