.container {
  position: relative;
  min-height: 100vh;
  background: var(--color-dark-teal);
  color: rgba(240, 253, 255, 1);
  font-family: var(--font-secondary);
  color: rgba(240, 253, 255, 1);
  z-index: 1;
}

.backgroundImage {
  position: absolute;
  width: 100vh;
  height: 99vh;
  left: 39px;
  top: 11px;
  background: url("http://localhost:3000/images/man.png") no-repeat center
    center;
  background-size: cover;
  z-index: 1;
  backdrop-filter: blur(7.5px);
  transform: rotateY(180deg);
}

.title {
  position: relative;
  margin-bottom: 75px;
  font-size: 68px;
  font-weight: 500;
  color: rgba(240, 253, 255, 1);
  z-index: 4;
  font-family: var(--font-primary);
  line-height: 78px;
}

.positionalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.position {
  padding-top: 135px;
  padding-left: 15rem;
}

.glassContainer {
  position: relative;
  width: 1020px;
  height: 655px;
  background: linear-gradient(
    256.88deg,
    rgba(205, 254, 92, 0.2) -35.71%,
    rgba(30, 115, 132, 0.2) 40.69%
  );

  backdrop-filter: blur(7.5px);
  border-radius: 20px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 3.688rem;
}

.star {
  position: absolute;
  width: 294.73px;
  height: 334.79px;
  top: -5rem;
  right: -3rem;
  background: url("http://localhost:3000/images/decorativeStar2.png") no-repeat
    center center;
  background-size: contain;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradientOverlay {
  position: absolute;
  bottom: -75%;
  right: -31%;
  width: 1140.81px;
  height: 1189.05px;
  background: radial-gradient(
    41.31% 38.63% at 53.97% 43.15%,
    rgba(251, 183, 6, 0.7) 7%,
    rgba(59, 36, 183, 0) 102%
  );

  z-index: 1;
}

.scoreBlock {
  font-weight: 400;
  font-size: 48px;
}

.scoreLabel {
  margin-bottom: 6.7rem;
  color: #f0fdff;
  font-weight: 500;
  line-height: 68px;
}

.scoreLabelTopTen {
  margin-bottom: 8px;
  color: #f0fdff;
  font-weight: 500;
  line-height: 68px;
}

.scoreInfo {
  margin-left: 55px;
}

.time {
  font-size: 32px;
  margin-bottom: -8px;
  line-height: 68.35px;
}

.correctAnswers {
  display: flex;
  align-items: end;
}

.score {
}

.correctAnswers span {
  font-size: 32px;
  margin-left: 9px;
}

.topTenMessage {
  font-weight: 500;
  font-size: 32px;
  line-height: 37.12px;
  margin-bottom: 43px;
  margin-left: 55px;
}

.sumbitBlock {
  display: flex;
  align-items: center;
  gap: 29px;
  margin-left: 55px;
  margin-bottom: 59px;
}

.nameLabel {
  font-weight: 400;
  font-size: 32px;
  line-height: 45.57px;
}

.nameInput {
  width: 290px;
  height: 38px;
  font-size: 1rem;
  background: #f0fdff;
  border-radius: 10px;
  color: rgb(30, 28, 28);
  backdrop-filter: blur(7.5px);
  border: none;
  outline: none;
  padding: 13px 21px;
}

.nameInput::placeholder {
  color: var(--color-light-grey);
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  color: rgba(14, 95, 118, 0.5);
}

.buttonsRow {
  display: flex;
  gap: 58px;
  margin-left: 55px;
}

.buttonsRowTopTen {
  display: flex;
  gap: 58px;
}

@media (max-width: 576px) {
  .containerMobile {
    position: relative;
    min-height: 100vh;

    background: var(--color-dark-teal);
    overflow: scroll;
    color: rgba(240, 253, 255, 1);
    font-family: var(--font-secondary);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .backgroundImageMobile {
    position: absolute;
    right: -17px;
    width: 100%;
    height: 99vh;
    background: url("http://localhost:3000/images/man.png") no-repeat bottom
      center;
    background-size: contain;
    z-index: 1;
    transform: scaleX(-1);
  }

  .positionalContainerMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
  }

  .positionMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }

  .titleMobile {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 44px;
    margin-top: 64px;
  }

  .glassContainerMobile {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    position: relative;
    width: 327px;
    height: 566px;

    background: linear-gradient(
      355.19deg,
      rgba(219, 162, 83, 0.2) 21.32%,
      rgba(231, 255, 175, 0.2) 97.36%
    );

    backdrop-filter: blur(7.5px);
    border-radius: 20px;
    z-index: 3;

    padding: 42px;
    box-sizing: border-box;
  }

  .starMobile {
    position: absolute;
    width: 102px;
    height: 116px;
    top: -50px;
    left: 37%;
    transform: translateX(-50%);
    background: url("http://localhost:3000/images/decorativeStar2.png")
      no-repeat center center;
    background-size: contain;
    animation: spin 10s linear infinite;
  }

  .scoreLabelMobile {
    font-size: 20px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .resultsBlockMobile {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    line-height: 1;
  }

  .resultsBlockMobileTop10 {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    line-height: 1;
  }

  .timeMobile {
    font-size: 20px;
    font-style: italic;
    font-weight: 300;

    margin-bottom: 23px;
  }

  .answersMobile {
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
  }

  .rightAnswersMobile {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 300;
  }

  .rightAnswersMobileTop10 {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 300;
  }

  .loadingTextMobile {
    font-size: 24px;
  }

  .buttonsColumnMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    width: 100%;

    margin-top: 30px;
  }

  .topTenMessageMobile {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .arrowImageMobile {
    width: 24px;
    height: 24px;
    margin-bottom: 20px;
  }

  .submitBlockMobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .nameInputMobile {
    width: 243px;
    height: 33px;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    background: rgba(240, 253, 255, 1);
    border-radius: 10px;
    color: rgba(14, 95, 118, 0.5);
    border: none;
    outline: none;
    padding: 18px 10px;
  }

  .nameInputMobile::placeholder {
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    color: rgba(14, 95, 118, 0.5);
  }

  .submitButtonMobile {
    width: 243px;
    height: 42px;
    font-size: 16px;
    font-weight: 600;
  }

  .buttonsRowTopTenOutsideMobile {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
}

.mainPanel {
}

.learnMoreBlock {
  max-width: 700px;
  margin-bottom: 2rem;
}

.panelTitle {
  font-family: "Source Sans 3";
  font-size: 48px;
  font-weight: 400;
}

.panelText {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 16px;
}

.panelTextGeneral {
  margin-left: 58px;
  margin-top: 73px;
  max-width: 566px;
  margin-bottom: 111px;
}

.resultBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resultStats {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans 3";
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 32px;
  gap: 6px;
  margin-top: 10px;
}

.resultsCounter {
  font-size: 64px;
  line-height: 0.8;
}

.resultTime {
  font-size: 32px;
  font-weight: 300;
  margin-top: -10px;
}

.resultScore {
  font-size: 32px;
}

.resultScore span {
  font-style: italic;
}

.tryAgainBlock {
  margin-top: 1.5rem;
}

.panelArrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 58px;
  margin-left: 58px;
}

.arrowButton {
  width: 40px;
  height: 40px;
}

.buttonsRowBottom {
  display: flex;
  gap: 36px;
  margin-left: 58px;
}

.submitHighscoreBlock {
  display: flex;

  align-items: center;
  gap: 29px;
}

.marginResultBlock {
  padding-left: 47px;
}
.centralBlock {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
}

.resultsBlockMargin {
  font-family: "Source Sans 3";
  font-weight: 300;
  margin-top: 80px;
}
.panelTextMargin {
  margin-top: 20px;
}

.resultScoreMargin {
  margin-bottom: 55px;
}

.mobilePanelsWrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.panelTitleMobile {
  font-size: 24px;
  font-weight: 500;
  margin-top: 34px;
  margin-bottom: 32px;
}

.panelTextMobile {
  font-size: 16px;
  font-weight: 200;
  /* text-align: center; */
}

.mobileArrowsRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.mobileArrow {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.panelTitleMobileTop10 {
  margin: 0;
  margin-top: 20px;
}

.timeMobileTop10 {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;

  margin-bottom: 11px;
}

.answersMobileTop10 {
  font-size: 48px;
  font-weight: 400;
}

.panelTextMobileTop10 {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 17px;
}

.buttonTextDecor {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  margin-left: 9px;
}
