.container {
  background-color: var(--color-dark-teal);
  color: var(--color-light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.quizLayout {
  font-family: var(--font-secondary);
  background: var(--color-dark-teal);
  color: var(--color-light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.quizLeftColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    211.67deg,
    rgba(255, 255, 255, 0.05) -3.3%,
    rgba(44, 44, 44, 0.05) 103.56%
  );
  min-height: 100vh;
  position: relative;
}

.centeredLeftColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topSection {
  display: flex;
  flex-direction: column;
  margin-top: 4.3rem;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  z-index: 3;
  margin-bottom: 7rem;
  font-weight: 400;
}

.quizTitle {
  font-family: "Ubuntu";
  font-size: 4.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 4.8rem;
  color: rgba(240, 253, 255, 1);
  letter-spacing: 0.02em;
  z-index: 2;
  margin-top: 89px;
}

.quizText {
  font-family: "Source Sans 3";
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 24px;
  max-width: 30rem;
  color: rgba(240, 253, 255, 1);
  letter-spacing: -0.04em;
  z-index: 3;
}

.decorContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}

.decorBottomLeft {
  position: absolute;
  left: -0.7rem;
  bottom: 0;
  width: auto;
  height: 40rem;
  filter: blur(7.5px);
  z-index: 1;
}

.rotatedGradient {
  position: absolute;
  left: -21rem;
  bottom: -20rem;
  width: 751.14px;
  height: 873.18px;
  background: radial-gradient(
    42.31% 42.63% at 53.97% 50.15%,
    rgba(152, 235, 184, 0.4) 0%,
    rgba(14, 95, 118, 0) 100%
  );

  transform: rotate(-49.51deg);
}

.totalTime {
  font-family: "Source Sans 3";
  margin-bottom: 3.4rem;
  max-width: 10.75rem;
  color: rgba(240, 253, 255, 1);
  font-weight: 300;
}

.totalTimeLabel {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 0.125rem;
  line-height: 2.136rem;
}

.totalTimeValue {
  line-height: 2.85rem;
  font-size: 32px;
}

.questionCounter {
  font-family: "Source Sans 3";
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 1rem;
}

.progressDots {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  z-index: 10;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}

.dotCorrect {
  background: rgba(88, 119, 17, 1);
}

.dotIncorrect {
  background: rgba(255, 30, 0, 0.5);
}

.dotCurrent {
  background: rgba(255, 131, 0, 1);
}

.dotPast {
  background: rgba(255, 255, 255, 0.5);
}

.dotFuture {
  background: rgba(255, 255, 255, 0.3);
}

.quizRightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mediaFrame {
  border: 1px solid var(--color-light-grey);
  border-radius: 1.25rem;
  padding: 2.35rem;
  padding-bottom: 0;
  position: relative;
  margin-bottom: 4.5rem;
}

.media,
.image {
  width: 30rem;
  height: 35.5rem;
  object-fit: cover;
  margin-bottom: 2rem;
  border-radius: 4px;
}

.questionTime {
  font-family: "Source Sans 3";
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  font-size: 20px;
  color: var(--color-light-grey);
  margin-bottom: 2.12rem;
}

.timerIcon {
  width: 1.8rem;
  height: 1.8rem;
}

.answerButtons {
  display: flex;
  gap: 3.625rem;
}

@media (max-height: 1080px) {
  .decorBottomLeft {
    height: 36.5rem;
  }
}

@media (max-height: 973px) {
  .mediaFrame {
    padding: 2.1rem;
    padding-bottom: 1.7rem;
    margin-bottom: 4.1rem;
  }

  .media,
  .image {
    width: 22rem;
    height: 28.5rem;
    margin-bottom: 1.5rem;
  }

  .questionTime {
    margin-bottom: 0.5rem;
  }

  .decorBottomLeft {
    height: 34rem;
  }
}

@media (max-height: 880px) {
  .bottomSection {
    margin-bottom: 2rem;
  }
}

@media (max-height: 800px) {
  .media,
  .image {
    width: 17rem;
    height: 25.5rem;
  }

  .mediaFrame {
    padding: 1.4rem;
    padding-bottom: 1.2rem;
    margin-bottom: 3.1rem;
  }

  .bottomSection {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1600px) {
  .decorBottomLeft {
    height: 27rem;
  }

  .mediaFrame {
    padding: 2.1rem;
    margin-bottom: 3.1rem;
  }

  .media,
  .image {
    margin-bottom: 1rem;
  }

  .questionTime {
    margin-bottom: 0rem;
  }

  .quizTitle {
    font-size: 4rem;
  }
/* 
  .quizText {
    font-size: 1rem;
    line-height: 1.3rem;
    max-width: 26.5rem;
  } */

  .totalTimeValue {
    line-height: 2.5rem;
    font-size: 1.4rem;
  }

  .totalTimeLabel {
    font-size: 1.4rem;
  }

  .questionCounter {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
  }

  .progressDots {
    gap: 0.5rem;
  }

  .dot {
    width: 0.7rem;
    height: 0.7rem;
  }
}

@media (max-width: 1200px) {
  .decorBottomLeft {
    height: 30rem;
  }

  .quizTitle {
    font-size: 3.7rem;
  }

  .quizText {
    font-size: 1.14rem;
    line-height: 1.3rem;
    max-width: 25rem;
  }

  .totalTimeValue {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }

  .totalTimeLabel {
    font-size: 1.3rem;
  }

  .questionCounter {
    font-size: 2rem;
    margin-bottom: 0.7rem;
  }

  .progressDots {
    gap: 0.4rem;
    margin-bottom: 2rem;
  }

  .dot {
    width: 0.7rem;
    height: 0.7rem;
  }

  .media,
  .image {
    width: 20.3rem;
    margin-bottom: 0.8rem;
  }

  .mediaFrame {
    margin-top: 1.8rem;
    padding: 1.8rem;
    padding-bottom: 1.5rem;
  }

  .questionTime {
    font-size: 1.1rem;
  }

  .timerIcon {
    width: 1.6rem;
    height: 1.46rem;
  }
}

@media (max-width: 1080px) {
  .decorBottomLeft {
    height: 30rem;
  }

  .quizTitle {
    font-size: 3.7rem;
  }

  .quizText {
    font-size: 1.14rem;
    line-height: 1.3rem;
    max-width: 25rem;
  }

  .totalTimeValue {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }

  .totalTimeLabel {
    font-size: 1.3rem;
  }

  .questionCounter {
    font-size: 2rem;
    margin-bottom: 0.7rem;
  }

  .progressDots {
    gap: 0.4rem;
    margin-bottom: 2rem;
  }

  .dot {
    width: 0.7rem;
    height: 0.7rem;
  }

  .media,
  .image {
    width: 20.3rem;
    margin-bottom: 0.8rem;
  }

  .mediaFrame {
    margin-top: 1.8rem;
    padding: 1.8rem;
    padding-bottom: 1.5rem;
  }

  .questionTime {
    font-size: 1.1rem;
  }

  .timerIcon {
    width: 1.6rem;
    height: 1.46rem;
  }
}

@media (max-width: 800px) {
  .quizLayout {
    display: block;
  }

  .topSection {
    margin-top: 1.3rem;
  }

  .bottomSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-weight: 400;
  }

  .quizTitle {
    font-size: 3.6rem;
    margin-bottom: 0;
    line-height: 4.4rem;
  }

  .quizText {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
  }

  .totalTime {
    margin-bottom: 1rem;
    max-width: 10.75rem;
    color: rgba(240, 253, 255, 1);
  }

  .totalTimeLabel {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  .totalTimeValue {
    line-height: 1.85rem;
    font-size: 1.5rem;
  }

  .questionCounter {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
  }

  .progressDots {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .dot {
    width: 0.6rem;
    height: 0.6rem;
  }

  .mediaFrame {
    margin-top: 1.8rem;
    padding: 1.6rem;
    margin-bottom: 2.1rem;
  }

  .questionTime {
    font-size: 1rem;
  }

  .timerIcon {
    width: 1.4rem;
    height: 1.4rem;
  }

  .answerButtons {
    gap: 2.625rem;
    margin-bottom: 2.5rem;
  }
}
