/* ========================================
   Header container & alignment
======================================== */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4.5rem;
  z-index: 4;
  background: rgba(217, 217, 217, 0.05);
  backdrop-filter: blur(0.9375rem);
  -webkit-backdrop-filter: blur(0.9375rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerInner {
  max-width: 88rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
  margin-right: 10rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 1.625rem;
  height: 1.4375rem;
  margin-right: 1rem;
}

.appName {
  font-size: 1.25rem;
  color: var(--color-light-grey);
  font-weight: 500;
}

/* Results page modifier */
.resultsPage {
}

/* ========================================
   Responsive adjustments
======================================== */
@media (max-width: 1600px) {
  .headerInner {
    max-width: 74rem;
  }
  .right {
    margin-right: -4rem;
  }
}

@media (max-width: 1550px) {
  .headerInner {
    max-width: 74rem;
  }
  .right {
    margin-right: 7rem;
  }
}

@media (max-width: 1246px) {
  .headerInner {
    max-width: 65rem;
  }
  .right {
    margin-right: 0;
  }
}

@media (max-width: 1131px) {
  .right {
    margin-right: 7.125rem;
  }
}

@media (max-width: 1080px) {
  .left {
    justify-content: center;
  }
  .right {
    justify-content: center;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .header {
    height: 3.625rem;
  }
  .headerInner {
    justify-content: center !important;
  }
  .appName {
    font-size: 0.875rem;
  }
  .logo {
    margin-right: 0.625rem;
  }
}
